
.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



/**
* SASS Styling ================
   nesting writing of style
*/

/*
.categories-container{
  background-color: red;
  padding: 10px;

  .category-container{
    background-color: green;
    padding: 20px; 
    
    .category-body-container{
    background-color: blue;
    padding: 30px;
  }
  }
 
}
*/

/* Quick comparison*/

/**
* Regular css ================
*/

/*
.categories-container{
  background-color: red;
  padding: 10px;
}

.category-container{
  background-color: green;
  padding: 20px;
}

.category-body-container{
  background-color: blue;
  padding: 30px;
}
*/